@import '~antd/dist/antd.min.css';

body {
    scroll-behavior: smooth;
    min-height: 100vh;
}

.ant-layout {
    min-height: 100vh;
}

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
}

.container {
    max-width: 930px;
    width: 100%;
    margin: 60px auto;
    overflow: initial;
}

.bg-blue {
    background-color: blue !important;
}

.d-flex {
    display: flex !important;
}
.justify-space-between {
    justify-content: space-between !important;
}
.align-center {
    align-items: center !important;
}
